<div>
    <p>© {{ site.title }}. All rights reserved.</p>
    <small>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="fw-normal"
           href="{{ '/disclaimer' | relative_url }}">
            Disclaimer
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="fw-normal"
           href="{{ '/privacy' | relative_url }}">
            Privacy
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="fw-normal"
           href="{{ '/terms' | relative_url }}">
            Terms
        </a>
    </small>
</div>
